$primary: #2196F3;
$light-primary: #BBDEFB;
$dark-primary: #1976D2;

$primary-text: #212121;
$secondary-text: #757575;

$divider: #BDBDBD;

$accent: #FF5252;

$text: #FFFFFF;

$roboto: 'Roboto', sans-serif;