@import '../../../public.scss';

body {
    margin: 0;
    padding: 0;
    float: left;
}

.Navbar {
    height: 55px;
    background-color: $primary;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    button {
        border: none;
        cursor: pointer;
        width: 55px;
        height: 55px;
        background-color: transparent;
        .Open-Nav-Drawer {
            width: auto;
            font-size: 30px;
            color: $text;
        }
        
    } 
}

#Menu-Icon {
    color: $text;
}

